<% 10.times do |i| %>
  <%= get_schwifty "dashboard#fibonacci", i: i + 20 do %>
    <p>
      Calculating fibonacci of <%= i + 20 %>, please wait...
    </p>
    <div class="bars">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  <%- end %>
<% end %>
