<% cache ["v1/currency", date], expires_in: 30.minutes do %>
  <% feed.each do |currency| %>
    <% next if currency[:date] != date.to_date %>
    <p>
      <%= currency[:iso_code] %>: <%= currency[:rate] %>
    </p>
  <% end %>
<% end %>
